body{
  margin: 0px;
}

ul{
  list-style:none;
  padding: 0px;
  margin: 0px;
}

.navpar{
  display: flex;
  justify-content:space-between;
  padding: 10px;
  background-color:rgb(237 237 237);
  border-bottom: 1px solid gray;
  box-shadow: 1px 1px gray;
}

.navpar >li{
  display: flex;
  align-items: center;
}

.logo{
  height: 70px;
}

.button{
  border: 0px;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bolder;
}

.button:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.mainButton{
  background-color:teal;
  color: white;
}

.mainButton:hover{
  box-shadow: 3px 3px turquoise;
}

.secondaryButton{
  background-color:rgb(21, 35, 158);
  color: white;
}

.secondaryButton:hover{
  box-shadow: 3px 3px rgb(43, 160, 196);
}
.buscar{
  background-color: white;
  border: 1px solid gray;
  padding: 4px;
  border-radius: 8px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.buscar:focus-within{
  border: 1px solid red;
}

.buscar > input{
  outline: none;
  border: 0px;
}

.iconoBusqueda:hover{
  color: blue;
}

.breedCardContainer{
  display: flex;    
}

.Breadcard{
  margin: 10px;
  background-color: rgb(78, 78, 90);
  box-shadow: 5px 10px 5px cadetblue;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-radius: 10px;
}

.BreadTittle{
  color: white;
  margin: 10px;
  font-weight: bold;
  font-size: large;
}

.ajustesTitulo{
  display: flex;
  justify-content: center;
  color: gray;
}

.ajustesTitulo:hover{
  font-family:fantasy ;
}

.etiquetas{
  display: flex;
  justify-content:space-evenly;
  margin: 10px;
  color: white
}

.etiquetas:hover{
  font-size: medium;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.heard{
  color: rgb(207, 63, 63);
}

.contenedorImagen:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.contenedorImagen{
  width: 240px;
  height: 150px;
  display: flex;
  margin-bottom: 10px;
}

.contenedorImagen > img{
  object-fit: cover;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

